<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    <title>Surl</title>
    <meta content="A Simple Url Shortener" name="description">
    <script async src="{{ url_for("static", filename="js/shortener.js") }}"></script>
</head>
<body style="display: flex; justify-content: center; align-items: center;">
<main style="margin-top: 4em; width: 100%; text-align: center">
    <h1 style="font-size: 5em; margin-bottom: 0">Surl</h1>
    <small style="font-style: italic;">A simple URL shortener</small>
    <form onsubmit="app.handleButtonClick(); return false;"
          style="margin-top: 60px; display: flex; flex-flow: column; align-items: center">
        <label for="url-input"></label>
        <input id="url-input" name="original_url" placeholder="https://" type="url"
               style="margin: 6px; width: 80%;">
        <button type="submit" id="shorten-btn"  style="margin: 30px">Shorten</button>
    </form>
</main>
</body>
</html>