<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/index.css") }}">
    <title>Surls</title>
    <meta content="A Simple Url Shortener" name="description">
    <script async src="{{ url_for("static", filename="js/shortener.js") }}"></script>
</head>
<body>
<main>
    <h1>Surls</h1>
    <small>A simple URL shortener</small>
    <form onsubmit="app.handleButtonClick(); return false;">
        <label for="url-input"></label>
        <input id="url-input" name="original_url" placeholder="https://" type="url">
        <section class="custom-section">
            <label for="custom-input">surls.gq/</label>
            <input id="custom-input" name="original_url" type="text">
        </section>
        <button type="submit" id="shorten-btn">shorten</button>
        <button class="btn-secondary" type="button" id="custom-btn">Custom</button>
    </form>
</main>
</body>
</html>