body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 4em;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 5em;
    margin-bottom: 0;
}

small {
    font-style: italic;
}

form {
    margin-top: 60px;
}

input {
    margin: 0 auto;
    width: 60%;
}

.custom-section {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3em auto 0;
    /*width: 62%;*/
    width: 25%;
}

#custom-input {
    display: inline-block;
    flex-grow: 1;
    margin: 0 0 0 0.5em;
    /*max-width: 20%;*/
}

button {
    margin-top: 30px;
}

.btn-secondary {
    background-color: inherit;
}